body {
  background-color: gray;
}

#Divprinc {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
#header {
  background-color: yellow;
  height: 60px;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}
#button {
  color: rgb(255, 123, 0);
  border: solid rgb(255, 123, 0);
  background-color: transparent;
  border-radius: 22px;
  height: 50px;
}
#res {
  height: 90px;
  width: 60%;
  background-color: rgb(202, 189, 189);
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 22px;
  color: white;
}
